@use 'src/variables' as *;
:host{
    width: 100%;

    &.hover-anim ul li{
        &:hover{
            filter: brightness(.95);
            transform: translateX(.5rem);
        }
    }
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    @include lt-lg{
        flex-direction: row;
        justify-content: space-around;
    }

    gap: 1rem;
    li{
        color: inherit;
        cursor: pointer;
        transition: transform .1s ease-out;
        &.selected{
            font-weight: 500;
        }
                
    }
}

