<header>
    <div class="brand">
        <img src="assets/box-logo.svg" alt="" class="logo">
        <span>SiMS</span>
    </div>
    <nav>
        <ul> 
            <li>Gupcsik Arnold</li>
            <li>
                <div class="nav-settings" data-dropdown>
                    <i class="fa-solid fa-gear" data-dropdown-button></i>
                    <div class="nav-settings-content" data-dropdown>
                        <ul>
                            <li (click)="test()">Language</li>
                            <li (click)="test()">Account settings</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>