@use 'src/variables' as *;

:host {
  width: 100%;
  height: 100%;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  height: 100%;
  


  .business-list {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $darkblue;
    min-width: 200px;

    padding: 1rem;
    gap: 1.6rem;
    color: $white;
    

    .add-button {
      width: 50%;
      text-align: center;
      cursor: pointer;
      background-color: $lightblue;
      border: none;
      &:hover{
        filter: brightness(.95);
      }
    }
  }

  .business-info {
    flex: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    color: $darkblue;
    overflow: hidden;
    max-height: calc(100vh - 64px);

    .title{
      border-bottom: 2px solid $lightblue;
      text-align: center;
      font-size: 1.5rem;
      margin: 1rem;
    }

    .subtitle{
      //border-bottom: 1px solid $lightblue;
      text-decoration: underline;
      text-decoration-color: $lightblue;
      text-align: left;
      font-size: 1.3rem;
      margin: .7rem 0;
    }


    .business{
      flex: 1;
      max-height: 100%;
      overflow-y: auto;
      .motd{
        text-align: center;
      }
      li{
        padding: .2rem 0;
      }
      
    }
    .inventory{
      flex: 1;
      max-height: 100%;
      overflow-y: auto;
    }
  }

  .employee-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 2px solid $lightblue;
    padding: 1rem;
    gap: 1.6rem;

    color: $darkblue;

  }
}