<div class="dashboard-container" [ngStyle]="{'justify-content': selectedBusiness==null ? 'center' : 'initial'}">
  <ng-template #noBusinessSelected>
    <div class="no-business">
      <h1>Currently, you are not affiliated with any business.</h1>
      <a routerLink="/create" class="get-started-link">
        <p>Get started with your <span>own</span> business.</p>
      </a>
      <h2>or</h2>
      <p>Ask your supervisor to invite you to their business.</p>
    </div>
  </ng-template>

  <div class="business-list" *ngIf="selectedBusiness; else noBusinessSelected">
    <h2>Businesses</h2>
    <a class="add-button sims-input" routerLink="/create">Add new</a>
    <app-list class="hover-anim" [items]="associatedBusinesses" [selectedElement]="selectedBusiness" fieldName="name"
      (itemClick)="onBusinessClick($event)"></app-list>
  </div>


  <div class="business-info" *ngIf="selectedBusiness">
    <div class="business">
      <div class="title">
        <div class="content f-23">
          {{selectedBusiness.name}}
        </div>
        <div class="icons f-1">
          <button class="icon-button red pointer" (click)="deleteSelectedBusiness()"><i class="delete fa-regular fa-trash-can" title="Törlés"></i></button>
        </div>
      </div>
      <div class="details">
        <h2>Cégadatok</h2>
        <div class="table-container">
          <div class="tableRow tableHeader">
            <div class="tableCell">Tulajdonos</div>
            <div class="tableCell">Cégnév</div>
            <div class="tableCell">Nyilvántartásba történő felvétel</div>
          </div>
          <div class="tableRow">
            <div class="tableCell">{{selectedBusiness.owner.fullName}}</div>
            <div class="tableCell">{{selectedBusiness.name}}</div>
            <div class="tableCell">{{selectedBusiness.businessRegistrationDate}}</div>
          </div>
          <div class="tableRow tableHeader">
            <div class="tableCell">Adószám</div>
            <div class="tableCell">Székhely</div>
            <div class="tableCell">SiMS felvétel</div>
          </div>
          <div class="tableRow">
            <div class="tableCell">{{selectedBusiness.taxNumber}}</div>
            <div class="tableCell">{{selectedBusiness.headQuarters}}</div>
            <div class="tableCell">{{selectedBusiness.simsRegistrationDate}}</div>
          </div>
        </div>
      </div>

      <div class="title">
        Alkalmazott adatok
      </div>

      <div class="details">
        <ng-template #noEmployeeSelected>
          <h2>Kérem válasszon alkalmazottat!</h2>
        </ng-template>
      
        <div *ngIf="selectedEmployee != null; else noEmployeeSelected">
          <h2>
            {{selectedEmployee.fullName}}
            <button class="icon-button red pointer" (click)="removeEmployee(selectedEmployee)">
              <i class="fa-solid fa-user-xmark"></i>
            </button>
          </h2>
        </div>
      
        <div class="table-container">
          <div class="tableRow tableHeader">
            <div class="tableCell">Születési hely</div>
            <div class="tableCell">Születési idő</div>
          </div>
          <div class="tableRow">
            <div class="tableCell">{{selectedEmployee?.placeOfBirth || "-"}}</div>
            <div class="tableCell">{{selectedEmployee?.dateOfBirth || "-"}}</div>
          </div>
      
          <div class="tableRow tableHeader">
            <div class="tableCell">Személyi igazolványszáma</div>
            <div class="tableCell">TAJ száma</div>
          </div>
          <div class="tableRow">
            <div class="tableCell">{{selectedEmployee?.identityCardNumber || "-"}}</div>
            <div class="tableCell">{{selectedEmployee?.socialSecurityNumber || "-"}}</div>
          </div>
      
          <div class="tableRow tableHeader">
            <div class="tableCell">Lakcíme</div>
            <div class="tableCell">Telefonszáma</div>
          </div>
          <div class="tableRow">
            <div class="tableCell">{{selectedEmployee?.homeAddress || "-"}}</div>
            <div class="tableCell">{{selectedEmployee?.phoneNumber || "-"}}</div>
          </div>
      
          <div class="tableRow tableHeader">
            <div class="tableCell">E-mail címe</div>
            <div class="tableCell">Állampolgárság</div>
          </div>
          <div class="tableRow">
            <div class="tableCell">{{selectedEmployee?.email || "-"}}</div>
            <div class="tableCell">{{selectedEmployee?.citizenship || "-"}}</div>
          </div>
        </div>
      </div>

    </div>

    


    <div class="inventoryContainer">
      <div class="create">
        <p>Raktár létrehozása</p>
        <button class="sims-input inventoryCreateButton" routerLink="{{selectedBusiness.id}}/inventory/create"><i class="fa-solid fa-plus"></i></button>
      </div>
      <ng-template #noInventoryFound>
        <p>A vállalkozáshoz nem tartozik egy raktár sem. Hozza létre első raktárát!</p>
      </ng-template>


      <div class="inventories" *ngIf="inventories; else noInventoryFound">
        <div class="inventory" *ngFor="let inventory of inventories" >
          <div class="cardTitle">
            <p>{{inventory.name}}</p>
            <div class="icons">
              <a routerLink="/{{selectedBusiness.id}}/inventory/{{inventory.id}}"><i class="view fa-regular fa-eye" title="Megtekintés"></i></a>
              <button class="icon-button red pointer" (click)="deleteInventory(inventory)"><i class="fa-regular fa-trash-can" title="Törlés"></i></button>
            </div>
          </div>
          <div class="cardContent">
            <div class="inventory-details">
              <div class="table-container">
                <div class="tableRow tableHeader">
                  <div class="tableCell">Elnevezés</div>
                  <div class="tableCell">Cím</div>
                  <div class="tableCell">Termékszám</div>
                </div>
                <div class="tableRow">
                  <div class="tableCell">{{inventory.name}}</div>
                  <div class="tableCell">{{inventory.address}}</div>
                  <div class="tableCell">{{inventory.products.size || 0}}</div>
                </div>
            
                <div class="tableRow tableHeader">
                  <div class="tableCell">Menedzser</div>
                  <div class="tableCell">M. Tel.</div>
                  <div class="tableCell">M. Email</div>
                </div>
                <div class="tableRow">
                  <div class="tableCell">{{inventory.managerName}}</div>
                  <div class="tableCell">{{inventory.managerPhone}}</div>
                  <div class="tableCell">{{inventory.managerEmail}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="employee-list" *ngIf="selectedBusiness">
    <div class="table">
      <h2>Alkalmazottak</h2>
      <button *ngIf="selectedBusiness.owner.id === authenticatedUser?.id" routerLink="/{{selectedBusiness.id}}/add-employee" class="sims-input">Hozzáadás</button>
      <app-list class="hover-anim" [items]="selectedBusiness.associates || null" [selectedElement]="selectedEmployee"
        fieldName="fullName" (itemClick)="onEmployeeClick($event)"></app-list>
    </div>
  </div>
</div>