@use 'src/variables' as *;

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid $offwhite;
    text-align: left;
    padding: 10px;
  }
  
  th {
    background-color: $darkblue;
    color: white;
  }