<div class="container">
    <div class="login">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h2>{{'login.title' | translate}}</h2>
            <div *ngIf="errorMessage" class="sims-error">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p>{{errorMessage}}</p>
            </div>
            <div class="input-group">
                <label for="email">{{email?.touched && !email?.valid ?"Email "+('register.required' | translate):"Email"}}</label>
                <input class="sims-input" type="text" id="email" name="email" placeholder="example@email.com" formControlName="email">
            </div>
            <div class="input-group">
                <label for="password">{{password?.touched && !password?.valid ? ('register.password' | translate)+' '+('register.required' | translate):('register.password' | translate)}}</label>
                <input class="sims-input" type="password" id="password" name="password" placeholder="******" formControlName="password">
            </div>
            <div>
                <input class="sims-button" type="submit" value="{{'login.signIn' | translate}}">
            </div>
            <div>
                <p><a routerLink="/register">{{'register.signup' | translate}}</a> {{'login.noAccount' | translate}}</p>
            </div>
        </form>

    </div>
    <div class="content">
        <div class="illustration">
            <img src="assets/forklift.svg" alt="">
            <img src="assets/shelf.svg" alt="">
        </div>
        <div class="description">
            <h2>{{'login.sideContent.title' | translate}}</h2>
            <p>{{'login.sideContent.p1' | translate}}</p>
            <p>{{'login.sideContent.p2' | translate}}</p>
        </div>
    </div>
</div>