<div class="container">
    <form [formGroup]="createForm" (ngSubmit)="create()">
        <div class="goback">
            <a routerLink="/"><i class="fa-solid fa-turn-up"></i> {{'back' | translate}}</a>
        </div>
        <h2>{{'createInventory.creatingAVirtualInventory' | translate}}</h2>
        <div class="input-group">
            <label for="name">
                {{
                    name?.touched && name?.errors?.['required']
                      ? ('inventory.name' | translate) +' '+ ('register.required' | translate)+'!'
                      : (name?.valid || name?.untouched ? ('createInventory.Warehousename' | translate) : ('createInventory.invalidName' | translate))
                }}
            </label>
            <input class="sims-input" type="text" placeholder="Jeff" id="name" name="name"
                formControlName="name">
        </div>
        <div class="input-group">
            <label for="address">
                {{
                    address?.touched && address?.errors?.['required']
                      ? ('inventory.addr' | translate) +' '+ ('register.required' | translate)+'!'
                      : (address?.valid || address?.untouched ? ('createInventory.warehouseeAdress' | translate) : ('createInventory.Warehousename' | translate)+'!')
                }}
            </label>
            <input  class="sims-input" type="text" placeholder="Address" id="address" name="address"
                formControlName="address">
        </div>
        <div class="input-group">
            <label for="managerName">
                {{
                    managerName?.touched && managerName?.errors?.['required']
                      ? ('createInventory.managerName' | translate) +' '+ ('register.required' | translate)+'!'
                      : (managerName?.valid || managerName?.untouched ? ('createInventory.managerName' | translate) : ('createInventory.invalidName' | translate))
                }}
            </label>
            <input class="sims-input" type="text" placeholder="Jeff" id="managerName" name="managerName"
                formControlName="managerName">
        </div>
        <div class="input-group">
            <label for="managerPhone">
                {{
                    managerPhone?.touched && managerPhone?.errors?.['required']
                      ? ('inventory.managerPhone' | translate) +' '+ ('register.required' | translate)+'!'
                      : (managerPhone?.valid || managerPhone?.untouched ? ('createInventory.managerPhone' | translate) : ('createInventory.invalidPhone' | translate))
                }}
            </label>
            <input class="sims-input" type="text" placeholder="Phone" id="managerPhone" name="managerPhone"
                formControlName="managerPhone">
        </div>
        <div class="input-group">
            <label for="managerEmail">
                {{
                    managerEmail?.touched && managerEmail?.errors?.['required']
                      ? ('register.email' | translate) +' '+ ('register.required' | translate)+'!'
                      : (managerEmail?.valid || managerEmail?.untouched ? ('createInventory.managerEmail' | translate) : ('register.invalid' | translate) +' '+ ('register.email' | translate)+'!')
                }}
            </label>
            <input class="sims-input" type="text" placeholder="Email" id="managerEmail" name="managerEmail"
                formControlName="managerEmail">
        </div>
        <div class="input-group">
            <input class="sims-button" type="submit" value="{{'createBusiness.submit' | translate}}">
        </div>
    </form>
</div>