
@use './variables' as sims;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
body,html{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;

    height: 100%;
}
a{
    color:inherit;
    &:is(:link, :visited, :hover, :active, :focus){
        color: sims.$lightblue;
        outline: none;
    }
}

.sims-input{
    all:unset;
    border: 2px solid sims.$darkblue;
    border-radius: 4px;
    height: 1.7rem;
    padding: .3rem;
    &:hover{
        border-color: sims.$lightblue;
    }
    &:is(select){
        cursor: pointer;
        display: flex;
        align-items: center;
        &,option{
            text-transform: lowercase;
        }
    }
}
.sims-button{
    all:unset;
    color: sims.$white;
    background-color: sims.$lightblue;
    border-radius: 4px;
    height: 1.7rem;
    padding: .3rem 2rem;
    cursor: pointer;

    &:hover{
        filter: brightness(.9);
    }
}
