<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h2>{{'register.getStarted' | translate}}</h2>
        <div *ngIf="errorMessage" class="sims-error">
            <i class="fa-solid fa-circle-exclamation"></i>
            <p>{{errorMessage}}</p>
        </div>
        <div class="double-input-group">
            <div class="input-group">
                <label for="firstName">
                    {{
                      firstName?.touched && firstName?.errors?.['required']
                        ? ('register.firstName' | translate) +' '+ ('register.required' | translate)
                        : (firstName?.valid || firstName?.untouched ? ('register.firstName' | translate) : 'Invalid first name!')
                    }}
                  </label>
                <input class="sims-input" type="text" placeholder="John" id="firstName" name="firstName"
                    formControlName="firstName">
            </div>
            <div class="input-group">
                <label for="lastName">
                    {{
                        lastName?.touched && lastName?.errors?.['required']
                          ? 'Last name is required'
                          : (lastName?.valid || lastName?.untouched ? ('register.Last Name' | translate) : 'Invalid last name!')
                    }}
                </label>
                <input class="sims-input" type="text" placeholder="Doe" id="lastName" name="lastName"
                    formControlName="lastName">
            </div>
        </div>
        <div class="input-group">
            <label for="email">
                {{
                    email?.touched && email?.errors?.['required']
                      ? 'Email is required'
                      : (email?.valid || email?.untouched ? 'Email' : 'Invalid Email!')
                }}
            </label>
            <input class="sims-input" type="text" placeholder="example@email.com" id="email" name="email"
                formControlName="email">
        </div>
        <div class="input-group">
            <label for="password">
                {{
                    password?.touched && password?.errors?.['required']
                      ? 'Password is required'
                      : (password?.valid || password?.untouched ? 'Password' : 'Invalid password!')
                }}
            </label>
            <input (blur)="updateConfirmPasswordValidators()" class="sims-input" type="password" placeholder="******" id="password" name="password"
                formControlName="password">
        </div>
        <div class="input-group">
            <label for="confirmPassword">
                {{
                    confirmPassword?.touched && confirmPassword?.errors?.['required']
                      ? 'Confirm password is required'
                      : (confirmPassword?.valid || confirmPassword?.untouched ? 'Confirm password' : 'Passwords must match!')
                }}
            </label>
            <input (blur)="updateConfirmPasswordValidators()" class="sims-input" type="password" placeholder="******" id="confirmPassword" name="confirmPassword"
                formControlName="confirmPassword">
        </div>
        <div class="double-input-group">
            <div class="input-group">
                <label for="gender">
                    {{
                        gender?.touched && gender?.errors?.['required']
                          ? 'Gender is required'
                          : "Select your gender"
                    }}
                </label>
                <select class="sims-input" id="gender" name="gender" 
                    formControlName="gender">
                    <option *ngFor="let gender of genderOptions" [value]="gender" [disabled]="gender==='UNKNOWN'" [hidden]="gender==='UNKNOWN'">{{ gender==="UNKNOWN"?"Select":gender }}</option>
                </select>
            </div>
        </div>
        <div class="input-group flex-start">
            <label for="privacyPolicy" [ngStyle]="{'color': (privacyPolicy!.touched && !privacyPolicy!.valid) ? 'red' : 'black'}" *ngIf="(privacyPolicy!.touched && !privacyPolicy!.valid)">You must accept the Privacy policy & Terms.</label>
            <br>
            <input type="checkbox" formControlName="privacyPolicy" name="privacyPolicy">
            <span> Accept <a routerLink="/privacypolicy">privacy policy</a> and terms.</span>
          </div>
        <div>
            <input class="sims-button" type="submit" value="Sign up">
        </div>
        <div>
            <p><a routerLink="/login">Sign in</a> if you already have an account.</p>
        </div>
    </form>
</div>