@use 'src/variables' as sims;

:host {
  height: 100%;
  display: flex;
  width: 80vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: sims.$darkblue;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .input-group {
      display: flex;
      flex-direction: column;

      label {
        font-size: .9rem;
      }
    }
    .double-input-group{
      display: flex;
      gap: .5rem;
      justify-content: space-between;
    }
  }

}
.flex-start{
  align-items: flex-start;
}