<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h2>{{'register.getStarted' | translate}}</h2>
        <div *ngIf="errorMessage" class="sims-error">
            <i class="fa-solid fa-circle-exclamation"></i>
            <p>{{errorMessage}}</p>
        </div>
        <div class="double-input-group">
            <div class="input-group">
                <label for="firstName">
                    {{
                      firstName?.touched && firstName?.errors?.['required']
                        ? ('register.firstName' | translate) +' '+ ('register.required' | translate)
                        : (firstName?.valid || firstName?.untouched ? ('register.firstName' | translate) : ('register.invalid' | translate) +' '+ ('register.firstName' | translate)+'!')
                    }}
                  </label>
                <input class="sims-input" type="text" placeholder="John" id="firstName" name="firstName"
                    formControlName="firstName">
            </div>
            <div class="input-group">
                <label for="lastName">
                    {{
                        lastName?.touched && lastName?.errors?.['required']
                          ? ('register.lastName' | translate) +' '+ ('register.required' | translate)
                          : (lastName?.valid || lastName?.untouched ? ('register.lastName' | translate) : ('register.invalid' | translate) +' '+ ('register.lastName' | translate)+'!')
                    }}
                </label>
                <input class="sims-input" type="text" placeholder="Doe" id="lastName" name="lastName"
                    formControlName="lastName">
            </div>
        </div>
        <div class="input-group">
            <label for="email">
                {{
                    email?.touched && email?.errors?.['required']
                      ? ('register.email' | translate) +' '+ ('register.required' | translate)+'!'
                      : (email?.valid || email?.untouched ? ('register.email' | translate) : ('register.invalid' | translate) +' '+ ('register.email' | translate)+'!')
                }}
            </label>
            <input class="sims-input" type="text" placeholder="example@email.com" id="email" name="email"
                formControlName="email">
        </div>
        <div class="input-group">
            <label for="password">
                {{
                    password?.touched && password?.errors?.['required']
                      ? ('register.password' | translate) +' '+ ('register.required' | translate)+'!'
                      : (password?.valid || password?.untouched ? ('register.password' | translate) : ('register.invalid' | translate) +' '+ ('register.password' | translate)+'!')
                }}
            </label>
            <input (blur)="updateConfirmPasswordValidators()" class="sims-input" type="password" placeholder="******" id="password" name="password"
                formControlName="password">
        </div>
        <div class="input-group">
            <label for="confirmPassword">
                {{
                    confirmPassword?.touched && confirmPassword?.errors?.['required']
                      ? ('register.confirmPassword' | translate) +' '+ ('register.required' | translate)+'!'
                      : (confirmPassword?.valid || confirmPassword?.untouched ? ('register.confirmPassword' | translate) : ('register.passwordsMustMatch' | translate))
                }}
            </label>
            <input (blur)="updateConfirmPasswordValidators()" class="sims-input" type="password" placeholder="******" id="confirmPassword" name="confirmPassword"
                formControlName="confirmPassword">
        </div>
        <div class="double-input-group">
            <div class="input-group">
                <label for="gender">
                    {{
                        gender?.touched && gender?.errors?.['required']
                          ? ('register.gender' | translate) +' '+ ('register.required' | translate)+'!'
                          : ('register.selectYourGender' | translate)
                    }}
                </label>
                <select class="sims-input" id="gender" name="gender" 
                    formControlName="gender">
                    <option *ngFor="let gender of genderOptions" [value]="gender" [disabled]="gender==='UNKNOWN'" [hidden]="gender==='UNKNOWN'">{{ gender==="UNKNOWN"?('register.select' | translate):gender }}</option>
                </select>
            </div>
        </div>
        <div class="input-group flex-start">
            <label for="privacyPolicy" [ngStyle]="{'color': (privacyPolicy!.touched && !privacyPolicy!.valid) ? 'red' : 'black'}" *ngIf="(privacyPolicy!.touched && !privacyPolicy!.valid)">{{'register.youMustAcceptThePrivacyPolicy&Terms' | translate}}</label>
            <br>
            <input type="checkbox" formControlName="privacyPolicy" name="privacyPolicy">
            <span> {{'register.accept' | translate}} <a routerLink="/privacypolicy">{{'register.privacyPolicy' | translate}}</a> {{'register.andTerms' | translate}}</span>
          </div>
        <div>
            <input class="sims-button" type="submit" value="{{'register.signup' | translate}}">
        </div>
        <div>
            <p><a routerLink="/login">{{'register.signin' | translate}}</a> {{'register.ifYouAlreadyHaveAnAccount' | translate}}</p>
        </div>
    </form>
</div>