<div class="container">
    <form [formGroup]="addForm" (ngSubmit)="add()">
        <div class="goback">
            <a routerLink="/"><i class="fa-solid fa-turn-up"></i> {{'back' | translate}}</a>
          </div>
        <h2>{{'employeeData.addEmployees' | translate}}</h2>
        <div *ngIf="errorMessage" class="sims-error">
            <i class="fa-solid fa-circle-exclamation"></i>
            <p>{{errorMessage}}</p>
        </div>
        <div class="double-input-group">
            <div class="input-group">
                <label for="placeofbirth">
                    {{
                        placeofbirth?.touched && placeofbirth?.errors?.['required']
                        ? ('employeeData.placeOfBirth' | translate) +' '+ ('register.required' | translate)
                        : (placeofbirth?.valid || placeofbirth?.untouched ? ('employeeData.placeOfBirth' | translate) : ('register.invalid' | translate) +' '+ ('employeeData.placeOfBirth' | translate)+'!')
                    }}
                </label>
                <input  class="sims-input" type="text" placeholder="1010 Budapest, Budai út.1" id="placeofbirth" name="placeofbirth"
                    formControlName="placeofbirth">
            </div>

            <div class="input-group">
                <label for="dateofbirth">
                    {{
                        dateofbirth?.touched && dateofbirth?.errors?.['required']
                        ? ('employeeData.dateOfBirth' | translate) +' '+ ('register.required' | translate)
                        : (dateofbirth?.valid || dateofbirth?.untouched ? ('employeeData.dateOfBirth' | translate) : ('register.invalid' | translate) +' '+ ('employeeData.dateOfBirth' | translate)+'!')
                    }}
                </label>
                <input  class="sims-input" type="date" placeholder="2000.01.01." id="dateofbirth" name="dateofbirth"
                    formControlName="dateofbirth">
            </div>
        </div>

        <div class="double-input-group">
            <div class="input-group">
                <label for="homeaddress">
                    {{
                        homeaddress?.touched && homeaddress?.errors?.['required']
                        ? ('employeeData.homeAddress' | translate) +' '+ ('register.required' | translate)
                        : (homeaddress?.valid || homeaddress?.untouched ? ('employeeData.homeAddress' | translate) : ('register.invalid' | translate) +' '+ ('employeeData.homeAddress' | translate)+'!')
                    }}
                </label>
                <input  class="sims-input" type="text" placeholder="1010 Budapest, Budai út.1" id="homeaddress" name="homeaddress"
                    formControlName="homeaddress">
            </div>
            <div class="input-group">
                <label for="citizenship">
                    {{
                        citizenship?.touched && citizenship?.errors?.['required']
                        ? ('employeeData.citizenship' | translate) +' '+ ('register.required' | translate)
                        : (citizenship?.valid || citizenship?.untouched ? ('employeeData.citizenship' | translate) : ('register.invalid' | translate) +' '+ ('employeeData.citizenship' | translate)+'!')
                    }}
                </label>
                <input class="sims-input" type="text" placeholder="Magyar" id="citizenship:" name="citizenship:"
                    formControlName="citizenship">
            </div>
        </div>

        <div class="double-input-group">
            <div class="input-group">
                <label for="phone">
                    {{
                        phone?.touched && phone?.errors?.['required']
                        ? ('employeeData.phoneNumber' | translate) +' '+ ('register.required' | translate)
                        : (phone?.valid || phone?.untouched ? ('employeeData.phoneNumber' | translate) : 'Invalid Phone!')
                    }}
                </label>
                <input class="sims-input" type="text" placeholder="Phone" id="phone" name="phone"
                    formControlName="phone">
            </div>

            <div class="input-group">
                <label for="email">
                    {{
                        email?.touched && email?.errors?.['required']
                        ? ('register.email' | translate) +' '+ ('register.required' | translate)
                        : (email?.valid || email?.untouched ? 'Email' : 'Invalid Email!')
                    }}
                </label>
                <input class="sims-input" type="text" placeholder="Email" id="email" name="email"
                    formControlName="email">
            </div>
        </div>

        <div class="double-input-group">
            <div class="input-group">
                <label for="identitycardnumber">
                    {{
                        identitycardnumber?.touched && identitycardnumber?.errors?.['required']
                        ? ('employeeData.idCardNumber' | translate) +' '+ ('register.required' | translate)
                        : (identitycardnumber?.valid || identitycardnumber?.untouched ? ('employeeData.idCardNumber' | translate) : 'Invalid Személyi igazolványszáma!')
                    }}
                </label>
                <input class="sims-input" type="text" placeholder="000000XX" id="identitycardnumber" name="identitycardnumber"
                    formControlName="identitycardnumber">
            </div>

            <div class="input-group">
                <label for="socialsecuritynumber">
                    {{
                        socialsecuritynumber?.touched && socialsecuritynumber?.errors?.['required']
                        ? ('employeeData.socSecNumber' | translate) +' '+ ('register.required' | translate)
                        : (socialsecuritynumber?.valid || socialsecuritynumber?.untouched ? ('employeeData.socSecNumber' | translate) : 'Invalid TAJ száma!')
                    }}
                </label>
                <input class="sims-input" type="text" placeholder="111 222 333" id="socialsecuritynumber" name="socialsecuritynumber"
                    formControlName="socialsecuritynumber">
            </div>
        </div> 

        <div class="input-group">
            <input class="sims-button" type="submit" value="{{'createBusiness.submit' | translate}}">
        </div>
    </form>
</div>
