<div class="container">
    <div class="goback">
        <a routerLink="/"><i class="fa-solid fa-turn-up"></i> {{'back'|translate}}</a>
      </div>
    <div class="add-products">
        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
            <div class="regular-inputs">
                <div class="row">
                    <div class="input-group f-12">
                        <label for="name">
                            {{
                            name?.touched && name?.errors?.['required']
                            ? ('inventory.productName' | translate) +' '+ ('register.required')
                            : ('inventory.productName' | translate)
                            }}
                        </label>
                        <input type="text" id="productName" name="productName" formControlName="productName">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group f-6">
                        <label for="itemNumber">{{'inventory.itemNumber'|translate}}</label>
                        <input type="text" id="itemNumber" name="itemNumber" formControlName="itemNumber">
                    </div>
                    <div class="input-group f-6">
                        <label for="category">{{'inventory.category'|translate}}</label>
                        <input type="text" id="category" name="category" formControlName="category">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group f-6">
                        <label for="quantity">{{'inventory.quantity'|translate}}</label>
                        <input type="number" id="quantity" name="quantity" formControlName="quantity">
                    </div>
                    <div class="input-group f-6">
                        <label for="unit">{{'inventory.unit'|translate}}</label>
                        <input type="text" id="unit" name="unit" formControlName="unit">
                    </div>
                </div>
            </div>

            <div class="dynamicProperties" formArrayName="dynamicProperties">
                <h2>{{'inventory.properties'|translate}}</h2>
                <div *ngFor="let property of dynamicProperties.controls; let i = index">
                    <div class="double-input-group" [formGroupName]="i">
                        <div class="row">
                            <div class="input-group">
                                <input type="text" id="key" formControlName="key" placeholder="{{'inventory.property'|translate}}" />
                            </div>
                            <div class="input-group">
                                <input type="text" id="value" formControlName="value" placeholder="{{'inventory.value'|translate}}" />
                            </div>
                            <button class="icon-button" (click)="removeProperty(i)">
                                <i class="delete fa-regular fa-trash-can red pointer" title="{{'delete'|translate}}"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button class="icon-button lightblue pointer" type="button" (click)="addProperty()"
                    title="{{'inventory.addProperty'|translate}}">
                    <i class="fa-solid fa-plus"></i>
                </button>

            </div>
            <input type="submit" value="{{'inventory.addProduct'|translate}}">

        </form>
    </div>
    <div class="products">
        <div class="title">
            <h2>{{'inventory.currentProducts'|translate}}</h2>
        </div>
        <div class="row underlined">
            <div class="col header select f-05 t-center">
                <button class="icon-button" (click)="toggleSelectAll()">
                    <i class="fa-solid fa-caret-down pointer"></i>
                </button>
                <button class="icon-button" *ngIf="this.selectedProducts.size!==0">
                    <i class="delete fa-regular fa-trash-can red pointer" title="Törlés"
                        (click)="deleteSelectedProducts()"></i>
                </button>
            </div>
            <div class="col header name f-7">{{'inventory.productName'|translate}}</div>
            <div class="col header itemNumber f-5">{{'inventory.itemNumber'|translate}}</div>
            <div class="col header category f-4">{{'inventory.category'|translate}}</div>
            <div class="col header quantity f-3">{{'inventory.quantity'|translate}}</div>
            <div class="col header unit f-2">{{'inventory.unit'|translate}}</div>
            <div class="col header control f-2">{{'inventory.edit'|translate}}</div>
        </div>
        <div class="row" *ngIf="noProductsFound">
            <div class="col f-24 t-center">{{'inventory.noProductsFound'|translate}}</div>
        </div>
        <div class="row" *ngIf="resourceLoading">
            <div class="col f-24 t-center loading"><i class="fa-solid fa-spinner fa-spin-pulse"></i></div>
        </div>
        <div class="item" *ngFor="let product of getProducts()" (click)="toggleSelect(product)">
            <div class="row" [formGroup]="editingForm">
                <div class="col f-05 t-center">
                    <button class="icon-button">
                        <i *ngIf="!selectedProducts.has(product)" class="fa-regular fa-circle-check pointer"></i>
                        <i *ngIf="selectedProducts.has(product)" class="fa-solid fa-circle-check pointer"></i>
                    </button>
                </div>
                <div class="col f-7">
                    <div *ngIf="product.id!==editingProduct?.id">
                        {{product.name}}
                    </div>
                    <div *ngIf="product.id===editingProduct?.id">
                        <input type="text" value="{{product.name}}" (click)="stopPropagation($event)" formControlName="editingProductName">
                    </div>
                </div>
                <div class="col f-5">
                    <div *ngIf="product.id!==editingProduct?.id">
                        {{product.itemNumber}}
                    </div>
                    <div *ngIf="product.id===editingProduct?.id">
                        <input type="text" value="{{product.itemNumber}}" (click)="stopPropagation($event)" formControlName="editingItemNumber">
                    </div>
                </div>
                <div class="col f-4">
                    <div *ngIf="product.id!==editingProduct?.id">
                        {{product.category}}
                    </div>
                    <div *ngIf="product.id===editingProduct?.id">
                        <input type="text" value="{{product.category}}" (click)="stopPropagation($event)" formControlName="editingCategory">
                    </div>
                </div>
                <div class="col f-3">
                    <div *ngIf="product.id!==editingProduct?.id">
                        {{product.quantity}}
                    </div>
                    <div *ngIf="product.id===editingProduct?.id">
                        <input type="text" value="{{product.quantity}}" (click)="stopPropagation($event)" formControlName="editingQuantity">
                    </div>
                </div>
                <div class="col f-2">
                    <div *ngIf="product.id!==editingProduct?.id">
                        {{product.unit}}
                    </div>
                    <div *ngIf="product.id===editingProduct?.id">
                        <input type="text" value="{{product.unit}}" (click)="stopPropagation($event)" formControlName="editingUnit">
                    </div>
                </div>
                <div class="col control f-2">
                    <div *ngIf="product.id!==editingProduct?.id">
                        <button class="icon-button" (click)="editProduct($event,product)">
                            <i class="fa-solid fa-pen-to-square pointer" title="{{'inventory.edit'|translate}}"></i>
                        </button>
                        <button class="icon-button" (click)="deleteProduct($event,product.id)">
                            <i class="delete fa-regular fa-trash-can red pointer" title="{{'delete'|translate}}"></i>
                        </button>
                    </div>
                    <div *ngIf="product.id===editingProduct?.id">
                        <button class="icon-button" (click)="saveEdit($event)">
                            <i class="fa-solid fa-floppy-disk pointer" title="{{'save'|translate}}"></i>
                        </button>
                        <button class="icon-button" (click)="cancelEdit($event)">
                            <i class="fa-solid fa-ban red pointer " title="{{'cancel'|translate}}"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="selectedProducts.has(product)">
                <div class="col t-center" [ngClass]="'f-'+(24/getProperties(product).length)"
                    *ngFor="let property of getProperties(product)"> 
                    <div *ngIf="product.id!==editingProduct?.id">
                        {{ property[0] }} : {{ property[1] }}
                    </div>
                    <div *ngIf="product.id===editingProduct?.id">
                        <input type="text" value="{{property[0]}}" (click)="stopPropagation($event)"> :
                        <input type="text" value="{{property[1]}}" (click)="stopPropagation($event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>