@use 'src/variables' as *;

:host {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    //align-items: center;
    overflow-y: auto;
}

.container {
    max-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    gap: 2rem;
    overflow-x: hidden;
    color: $darkblue;



    .add-products {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        box-shadow: 0 0 4px;
        padding: 1rem;

        width: 50%;

        @include lt-xl {
            width: 60%;
        }

        @include lt-lg {
            width: 70%;
        }

        @include lt-md {
            width: 100%;
        }
    }

    .products {
        border-radius: 4px;
        box-shadow: 0 0 4px;
        width: 80%;

        @include lt-xl {
            width: 90%;
        }

        @include lt-lg {
            width: 100%;
        }

        padding: .25rem 1rem;

        &> :not(:first-child):not(:nth-child(2)):nth-child(odd) {
            background-color: darken($color: white, $amount: 5);
        }

        .title {
            text-align: center;

            h2 {
                font-weight: 300;
            }

        }

        .header{
            font-weight: 500;
            font-size: 16px;
            @include lt-sm {
                writing-mode: vertical-lr;
            }
            &.select{
                display: flex;
                gap: 4px;
            }
        }
        .row {
            font-weight: 400;
            padding: .5rem .2rem;
            align-items: center;

            &>:first-child {
                padding-right: 10px;
            }
            &.underlined{
                border-bottom: 2px solid $lightblue;
            }

            input{
                width: 90%;
            }
        }
    }



    form {
        display: flex;
        flex-direction: column;

        h2 {
            padding: .3rem;
            font-weight: 200;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;

            }
        }

        .regular-inputs {
            display: flex;
            flex-direction: column;

        }

        .double-input-group {
            display: flex;
            gap: .5rem;
            justify-content: center;
        }

        .dynamicProperties {
            text-align: center;

            button {
                padding: 1rem;

                i {
                    font-size: 1.2rem;
                }
            }
        }

        .input-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .25rem;

            padding: 6px;
            


            label {
                font-size: 0.9rem;
            }
        }

        input{
            outline: none;
            &:focus{
                border-color: $lightblue;
            }
        }
        input[type="text"],
        input[type="number"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            padding: 8px;
            border: none;
            background-color: $lightblue;
            color: white;
            font-size: 1rem;
            font-weight: 200;
            cursor: pointer;
            

            &:hover {
                background-color: darken($color: $lightblue, $amount: 10);
            }

            &:disabled {
                background-color: #aaa;
                cursor: not-allowed;
            }
        }
    }
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;

    button {
        padding: 5px;
    }
}
.loading{
    font-size: 1.3rem;
}