<div class="container">
    <div class="add-products">
        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
            <div class="regular-inputs">
                <div class="row">
                    <div class="input-group f-12">
                        <label for="productName">Termék neve:</label>
                        <input type="text" id="productName" name="productName">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group f-6">
                        <label for="itemNumber">Cikkszám:</label>
                        <input type="text" id="itemNumber" name="itemNumber">
                    </div>
                    <div class="input-group f-6">
                        <label for="category">Kategóriák:</label>
                        <input type="text" id="category" name="category">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group f-6">
                        <label for="quantity">Mennyiség:</label>
                        <input type="number" id="quantity" name="quantity">
                    </div>
                    <div class="input-group f-6">
                        <label for="unit">Mértékegység:</label>
                        <input type="text" id="unit" name="unit">
                    </div>
                </div>
            </div>

            <div class="dynamicProperties" formArrayName="dynamicProperties">
                <h2>Tulajdonságok</h2>
                <div *ngFor="let property of dynamicProperties.controls; let i = index">
                    <div class="double-input-group" [formGroupName]="i">
                        <div class="row">
                            <div class="input-group">
                                <input type="text" id="key" formControlName="key" placeholder="Tulajdonság" />
                            </div>
                            <div class="input-group">
                                <input type="text" id="value" formControlName="value" placeholder="Érték" />
                            </div>
                            <button class="icon-button" (click)="removeProperty(i)">
                                <i class="delete fa-regular fa-trash-can red pointer" title="Törlés"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <button class="icon-button lightblue pointer" type="button" (click)="addProperty()" title="Tulajdonság hozzáadása">
                    <i class="fa-solid fa-plus"></i>
                </button>

            </div>
            <input type="submit" value="Termék hozzáadása">

        </form>
    </div>
    <div class="products">
        <div class="title">
            <h2>Jelenlegi termékek</h2>
        </div>
        <div class="row">
            <div class="col header name f-4">Név</div>
            <div class="col header itemNumber f-3">Cikkszám</div>
            <div class="col header category f-2">Kategória</div>
            <div class="col header quantity f-2">Mennyiség</div>
            <div class="col header unit f-1">Egység</div>
        </div>
        <div class="row">
            <div class="col f-4">Teszt</div>
            <div class="col f-3">TESZT-120240-12345</div>
            <div class="col f-2">teszt</div>
            <div class="col f-2">12</div>
            <div class="col f-1">Darab</div>
        </div>
        <div class="row">
            <div class="col f-4">asd</div>
            <div class="col f-3">asd</div>
            <div class="col f-2">asd</div>
            <div class="col f-2">asd</div>
            <div class="col f-1">asd</div>
        </div>
        <div class="row">
            <div class="col f-4">asd</div>
            <div class="col f-3">asd</div>
            <div class="col f-2">asd</div>
            <div class="col f-2">asd</div>
            <div class="col f-1">asd</div>
        </div>
        <div class="row">
            <div class="col f-4">asd</div>
            <div class="col f-3">asd</div>
            <div class="col f-2">asd</div>
            <div class="col f-2">asd</div>
            <div class="col f-1">asd</div>
        </div>
    </div>
</div>